<!DOCTYPE html> <html ng-app="zcloud"> <head> <title>ZCloud - Internet of Things application development flatform</title> <meta charset="utf-8"> <meta name="viewport" content="width=device-width,initial-scale=1"> <!--    <link rel="icon" type="images/cnh-01.png" href="images/cnh-01.png" sizes="192x192"> --> <link rel="shortcut icon" href="images/logo.ico"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.75acdb23.css"> <link rel="stylesheet" href="styles/main.f862c743.css">  <body> <div layout="row" ng-controller="MainCtrl as main"> <zc-main-menu></zc-main-menu> <div layout="column" class="relative" layout-fill role="main"> <div ng-view></div> <footer><zc-footer></zc-footer></footer> </div> </div> <!-- 
        <div class="container" ng-controller="TipCtrl">
            <div class="alert alert-warning alert-dismissible" role="alert" id="checkActiveDiv" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                Please go to your inbox to confirm your email account first! <span id="checkActiveSpan" style="display:none;">If you do not receive an e-mail, please click <a
                        class="alert-link" ng-click="hideSpan()">resend the activation email</a></span>
            </div>
        </div> --> <script src="scripts/vendor.b58ac8eb.js"></script> <script src="scripts/scripts.d526f16d.js"></script> <script src="https://www.google.com/recaptcha/api.js"></script> <script type="text/javascript" src="https://www.google.com/jsapi"></script> <script type="text/javascript">google.load('visualization', '1', {'packages': ['corechart']});</script>  