<!--<div class="home">
  <div class="iotgo-slideshow">
    <ul rn-carousel
        rn-carousel-index="carouselIndex"
        rn-carousel-auto-slide="4">
      <li ng-repeat="slide in slides">
        <div class="layer">
          <a ng-href="{{slide.href}}">
            <img ng-src="{{slide.src}}">
          </a>
        </div>
      </li>
    </ul>
    <div rn-carousel-indicators ng-if="slides.length > 1"
         slides="slides" rn-carousel-index="carouselIndex"
         class="iotgo-slideshow-indicators"></div>
  </div>

  <div class="row iotgo-features">
    <div class="col-sm-3">
      <h4>Completely Open Source</h4>
      <p>Easily build your own IoT system by using open source IoTgo
        platform and open source device firmware.</p>
    </div>
    <div class="col-sm-3">
      <h4>Convenient access</h4>
      <p>Simple steps to easily and quickly control a variety of
        devices through IoTgo platform.</p>
    </div>
    <div class="col-sm-3">
      <h4>Support indie product</h4>
      <p>Not only provides the developer interface for DIY device,
        but also supports indie product directly.</p>
    </div>
    <div class="col-sm-3">
      <h4>Multi-platform compatibility</h4>
      <p>Using a common API interface, developers can develop apps on each
        platform to control IoTgo devices.</p>
    </div>
  </div>

  <div class="row iotgo-platforms">
    <div class="col-sm-1 text-muted">
      Support Platforms
    </div>
    <div class="col-sm-11">
      <ul class="list-inline">
        <li><img src="../images/home/arduino.png"></li>
        <li><img src="../images/home/rpi.png"></li>
        <li><img src="../images/home/intel.png"></li>
        <li><img src="../images/home/bb.png"></li>
        <li><img src="../images/home/cb.png"></li>
        <li><img src="../images/home/wrt.png"></li>
        <li><img src="../images/home/chipkit.png"></li>
        <li><img src="../images/home/coocox.png"></li>
        <li><img src="../images/home/more.png"></li>
      </ul>
    </div>
  </div>

  <div class="iotgo-process">
    <h4 class="iotgo-diy">Developers user process (DIY Device):</h4>
    <div><img class="img-responsive" src="../images/home/process-diy.gif"></div>
    <h4 class="iotgo-ready">Indie product user process:</h4>
    <div><img class="img-responsive" src="../images/home/process-ready.gif"></div>
  </div>

</div>--> <div> Welcome IoT! </div>